/*HEADER CHATTY*/
.brand{
  font-style: oblique;
  font-size: 40px;
  float: left;
}

/*NAV BAR*/
#nav {
  padding: 40px 40px 20px 100px;
  /*display: inline-block;*/
}

#inputText{
  width: 1000px;
  height: 50px;
}

#clrButton{
  width: 140px;
  height: 40px;
}

/*MAIN MESSAGE CONTAINER*/
.darkTheme1{  
  background-color: white;
  color: black;
}

.darkTheme2{  
  background-color: gray;
  color: white;
}

#mContainer{
  border: solid black;
  padding: 50px;
}