/*HEADER CHATTY*/
#brand{
  font-style: oblique;
  font-size: 40px;
  position:fixed;
  z-index:100;
}

/*NAV BAR*/
/*.nav {
  padding: 40px 40px 20px 0;
  position:fixed;
  z-index:100;

}*/
/*Inputs*/
#ourinputs {
float:right;
position:fixed;
z-index:100;
width:40%;
padding: 30px 0 0 315px;
}


  


#inputText{
  width: 850px;
  height: 50px;
}

#clrButton{
  width: 140px;
  height: 40px;
}

/*MAIN MESSAGE CONTAINER*/
.darkTheme1{  
  background-color: white;
  color: black;
}

.darkTheme2{  
  background-color: gray;
  color: white;
}

#mContainer{
  border: solid black;
  padding: 150px;
}